.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color:#E5E7EB;
}

.dark-bg {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header, .section-one {
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;
}

.section-one {
    display: flex;
    justify-content: space-between;
    /* padding-top: 50px; */
    padding-bottom: 75px;
}

.section-two {
    display: flex;
    flex-direction: column;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    height: 350px;
}

.section-two h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content {
    display: flex;
    justify-content: center;
}

.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;

    /* padding-top: 50px;
    padding-bottom: 50px; */

    height: 350px;
}

.section-three h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.section-three p {
    /* border: 2px solid blue; */
    margin-left: auto;
    margin-right: 100px;
}

.menu {
    display: flex;
    gap: 24px;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.sign-up-container, button {
    background-color: #3882F9;
}



/* hero image placeholder */
.section-one .right {
    display: flex;
    /* border: 4px solid red; */
    width: 480px;
    height: 270px;

    background-color:rgb(97, 99, 99);
    color: white;

    justify-content: center;
    align-items: center;
}

/* information image placeholder */
.content img {
    border: 4px solid skyblue;
    width: 150px;
    height: 150px;
}